.home {
    height: 100vh;
}

.contents {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.audio-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    cursor: pointer;
}