.home {
    height: calc(100vh - 70px);
}

.contents {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.audio-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 250px;
    cursor: pointer;
}